a.spoiler:after {
	content: " [-]";
}

a.spoiler.collapsed:after {
	content: " [+]";
}

header {
	background: #F8F8F8;
	text-align: center;
}

header h2 {
	margin: 0px;
}

div.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	padding: 0px!important;
}

.navbar-brand>img {
	height: 100%;
	padding: 5px;
	width: auto;
}
/* Make the images wide and responsive. */
.carousel-inner img {
	height: auto;
	width: 100%;
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.input-group {
	margin-bottom: 10px;
}

#responsive-menu form h5 {
	color: #fff;
	float: left;
	padding-right: 10px;
}

.news, .action {
	display: inline-block;
	float: left;
	padding-bottom: 20px;
}

.news {
	border-right: 1px solid #c6c6c6;
}

.title-section {
	padding: 10px 0 20px 0;
	font-size: 30px;
	text-align: center;
/*	background: #eee; */
}

.title-section a {
	color: #0a0a0a;
	text-decoration: none;
}

.title-section a:hover {
	color: #0b2565;
}

.news-block {
	padding: 2% 0 0 15%;
}

.action-block {
	padding: 2% 15% 0 0;
}

.more {
	display: block;
	float: right;
	margin: 5px 50px 5px 0;
	color: #02488d;
}

a.more:hover {
	color: #0099E0;
}

.action-block .date {
	margin: 13px 14px 14px 30px;
	color: #02488d;
}

.date {
	margin: 13px 14px;
	color: #02488d;
}

.news-title {
	color: #0b2565;
	font-size: 18px;
	margin-left: 13px;
}

.action-block .news-title {
	color: #0b2565;
	font-size: 18px;
	margin-left: 30px;
}

.news-text {
	margin: 13px 50px 0 13px;
}

.action-block .news-text {
	margin: 13px 13px 0 30px;
}

.action-block .more {
	clear: both;
	display: block;
	float: right;
	margin: 5px 13px 5px 0;
	color: #02488d;
}

div.news-text {
	text-align: justify;
}

footer {
	min-height: 50px;
	background: #222;
	color: #fff;
	font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65px;
  min-height: 65px;	
}
.info a {
	text-decoration: none;
	color: #9d9d9d;
}
.info a:hover {
	color: #fff;
}
.list-unstyled {
	margin-bottom: 0;
	margin-top: 9px;
}
.list-unstyled a {
	float: right;
	margin-bottom: 0;
	padding-left: 10px;
}
.footer p {
	float: right;
	margin-bottom: 0;
}
.social-link a {
	padding-right: 5px;
	padding-left: 0;
	float: left;
}
.control-label {
	margin-top: 10px;
}
.new-user{
	float: right;
	margin-bottom: 20px !important;
}
html {
  height: 100%;
}
body {
	height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
main {
  padding-bottom: 90px;
}	
ul.nav.nav-tabs {
  margin-top: 14px;
}
.nav-tabs {
  margin-bottom: 15px;
}
.main {
  padding-bottom: 90px;
}
.a-user {
	text-decoration: underline;
	color: white;
}
a.a-user:hover { 
    text-decoration: underline; 
    color: #9d9d9d; 
   }
   
   x-clock {
color: rgb(255, 255, 255);
font-size:64px;
text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;
}
   .table-tariff {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
   }

   
   
@media screen and (max-width: 991px) {
  .news, .action {clear: both; width: 100%;}
  .news {border-right: none;}
  .news-block, .action-block{padding: 2% 2% 0 10%;}
  .action-block .date {margin: 13px 14px;}
  .action-block .news-title {margin-left: 13px;}
  .action-block .news-text {margin: 13px 50px 0 13px;}
  .action-block .more {margin: 5px 50px 5px 0;}
}