<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<RollingFile name="MyRollingFile" fileName="e:\internetProvider.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<pattern>%d %p %C{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<logger name="Log_RollingFile" level="all" additivity="false">
			<appender-ref ref="MyRollingFile" />
		</logger>
		<root level="all">
			<appender-ref ref="Console" />
			<appender-ref ref="MyRollingFile" />
		</root>
	</loggers>
</configuration>